@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Martian+Mono&display=swap');

:root {
    --background-color: white;
    --header-item-background-color: #f3f3f3;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    font-family: 'Gelasio', monospace;
}

.layout-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 150px auto 100px;
    grid-template-areas: "💀"
                         "📰"
                         "👣";
}

.layout-header > div {
    width: 100%;
    height: 100%;
}

.layout-header {
    grid-area: 💀;
}

.header {
    padding: 10px;
    margin: auto;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-item {
    background-color: black;
    border-radius: 10px;
}

.header > #logo {
    height: 100px;
    user-select: none;
    -webkit-user-drag: none;
    filter: invert(1);
}

.header > #title {
    padding: 10px;
    color: white;
    font-weight: bolder;
}

.layout-footer {
    grid-area: 👣;
}

.footer {
    margin: auto;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-item {
    height: 50px;
    border-radius: 10px;
    font-family: 'Gelasio', monospace;
    font-size: 18px;
    font-weight: 600;
}

.footer > #prompt-input {
    padding-inline: 10px;
    width: 100%;
    border: solid black 2px;
}